.section {
  background-color: #ffffff; /* Blue like image */
  margin: 20px;
  padding: 50px;
}

.container {
    display: flex;
    justify-content: space-around;
    background: var(--primary);
    color: white;
    padding: 2rem 0;
    border-radius: var(--radius);
    margin: 0;
    text-align: center;
}

.stat {
  color: #ffffff;
}

.value {
    font-size: 3rem;
    font-weight: 800;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.label {
    font-size: 1.1rem;
    opacity: 0.9;
}

/* Tablet */
@media (max-width: 900px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 30px;
  }
}

/* Mobile */
@media (max-width: 480px) {
  .container {
    grid-template-columns: 1fr;
  }

  .value {
    font-size: 30px;
  }
}
